@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --orange: #D2872C ;
    --grey: #766F68;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

ul {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#logo {
    color: var(--orange);
    font-size: 1.5em;
    font-weight: bold;
}

#logo {
    padding: 0.3em;
}

#btn {
    display: none;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5em;
}

#menu a {
    display: block;
    color: var(--grey);
    font-weight: bold;
    padding: 0.5em;
}

#menu a:hover {
    background-color: var(--orange);
    color: white;
    border-radius: 0.4em;
}


main {
    display: flex;
    max-width: 800px;
    margin: auto;
    margin-top: 70px;
    position: relative;
    padding: 15px 20px;  
}

section h1 {
    color: var(--grey);
    font-size: 3em;
    max-width: 450px;
    margin-bottom: 30px;
}

section h3 {
    color: var(--grey);
    font-weight: normal;
    font-size: 1.2em;
    width: 350px;
    margin-bottom: 20px;
}

section p {
    width: 150px;
    text-align: center;
    background-color: var(--orange);
    padding: 10px;
    border-radius: 7.5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322);
}

section a  {
    color: white;
    text-decoration: none;
}

img {
    display: block;
    max-width: 500px;
    position: absolute;
    z-index: -1;
    left: 270px;
    top: 30px;
}

@media (max-width: 770px) {

    main {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
    }

    section {
        text-align: center; 
    }

    section h1 {
        width: 450px;
        margin: auto;
        margin-bottom: 20px;
    }

    section h3 {
        width: 350px;
        margin: auto;
        margin-bottom: 30px;
        text-align: center;  
    }

    section p {
        margin: auto;
        width: 260px;
        font-weight: 600;
        font-size: 1.2em;
    }

    img {
        position: relative;
        top: 0;
        left: 0;
        margin: auto;
        width: 400px;
        margin-bottom: 30px;
    }
}

@media (max-width: 510px) {

    body {
        font-size: 0.6em;
    }
    
    #menu {
        display: block;
        position: absolute;
        font-size: 1em;
        left: 0px;
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100vw - 40px);
        transition: .3s;
        height: 0;
        background-image: linear-gradient(to top, #d2872c7e ,rgba(255, 255, 255, 0.411));
        z-index: 100;
        visibility: hidden;
        overflow-y: hidden ;
    }

    #menu a {
        color: #D2872C;
        border-bottom: 1px solid #766f6810 ;
    }

    #nav.active #menu {
        display:block;
        height: 85px;
        visibility: visible;
    }

    #btn {
        display: flex;
        padding: .1rem 1rem;
        background: none;
        border: none;
        font-weight: bold;
        color: var(--grey);
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        display: block;
        border-top: 1.5px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before {
        content: "";
        display: block;
        width: 20px;
        height: 1.5px;
        background: currentColor;
        margin-top: 5px;
        transition: .6s;
        position: relative;
    }

    #nav.active #hamburguer{
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    main {
        padding: 10px;
        margin-top: 30px;
    }

    section {
        width: 250px;
        margin: auto;
    }

    section h1 {
        width: 205px;
    }

    section h3 {
        width: 165px;
    }

    section p {
        width: 145px;
    }

    img {
        width: 230px;
    }
}